{% extends 'base.html.twig' %}

{% block title %}Modifier Password{% endblock %}

{% block content %} 
 <h1>Modifier mon mot de passe</h1>
  <hr>
  - <a href="{{ path('account') }}">Retouner à mon compte</a><br/>
  <hr> 
  {% if notification %}
    <div class="alert alert-success">{{ notification }}</div> 
  {% endif %}
  
  {{ form(form) }} 


{% endblock %}
